.blog {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainList {
  width: 1350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
