.home {
  position: relative;
  height: calc(100dvh - 70px);
  width: 100%;
}

/* displaying landing slider to none on mobile mode */

.landingMobileMode {
  display: none;
}
@media screen and (max-width: 690px) {
  .sliderDesktopMode {
    display: none;
  }
  .landingMobileMode {
    display: block;
  }
}
