html,
body {
  position: relative;
  height: 100%;
}

.swiperContainer {
  width: 100%;
  height: 400px;
  display: flex;
  padding-top: 40px;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(151, 151, 131);
}
.mySwiper {
  width: 100%;

  /* display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  max-width: 1000px;
  height: 350px;
}
.slide {
  width: 250px;
  height: 300px;
  background-color: rgb(189, 114, 114);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
