.counters {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: var(--text-white);
  text-align: center;

}
.counters > div {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}
.counterText{
  color:var(--text-white);
}
.counter {
  position: relative;
}
.countNumber{
    font-size: 20px;
    color: var(--text-yellow);
}
.counter:not(:last-child)::before {
  content: "";
  background: var(--text-white);
  position: absolute;
  width: 2px;
  height: 3em;
  top: 50%;
  transform: translateY(-50%);
  right: -0.6em;
}


@media screen and (max-width: 900px) and (min-width: 502px) {
  .counters {
    padding: 5px;

  }
  .counterText{
    color:var(--text-white);
    font-size: 14px;
  }
  .countNumber{
    font-size: 16px;
    color: var(--text-yellow);
}
 
}

@media screen and (max-width: 502px) {
    .countNumber{
        font-size: 12px;
    }

  .counter:not(:last-child)::before {
    width: 90%;
    height: 2px;
    top: initial;
    right: initial;
    bottom: -3em;
    left: 50%;
    transform: translateX(-50%);
  }
  .counterText{
    color:var(--text-white);
    font-size: 10px;
  }
}



@media screen and (max-width: 350px) {
  .counters {
    padding: 0px;

  }
  .countNumber{
      font-size: 10px;
  }

.counter:not(:last-child)::before {
  width: 90%;
  height: 2px;
  top: initial;
  right: initial;
  bottom: -3em;
  left: 50%;
  transform: translateX(-50%);
}
.counterText{
  color:var(--text-white);
  font-size: 8px;
}
}


@media screen and (max-width: 240px) {
  .counters {
    padding: 0px;
display: none;
  }

}